.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}
.grid-item {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    /*aspect-ratio: 9/16; For the portrait aspect ratio*/
}

.grid-item img {
    width: 200px;
    height: auto;
}

#menuArt img {
    max-height: 800px;
    max-width: 500px;
    object-fit: contain;
}

.id-menu-layout {
    display: flex;
    gap: 2rem;
}

.selected-id-panel {
    width: 30%;
}

.id-grid {
    width: 70%;

    display: grid;
    grid-template-columns:
        repeat(3, 1fr);

    gap: 10px;
}